    <include file="Public/header.html" />
    <include file="Public/left.html" />
    <div class="content">
      <div class="breadcrumb-holder">
         <ul class="breadcrumb">
           <li class="active">热卖商品</li>
           <li><a href="javascript:;">销售记录</a></li>
         </ul>
         <div class="navbar-right">
           <button type="button" class="btn btn-info">货架管理</button>
           <button type="button" class="btn btn-info">销售报表</button>
         </div>
      </div>
      <div class="main-content">
          <div class="row">
             <div class="col-md-12" style="height:60px;border-bottom:1px solid #dddddd;">
                <div class="col-xs-3">
                  <select class="form-control">
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>4</option>
                     <option>5</option>
                 </select>
                </div>
                <div class="col-xs-3">
                   <input type="text" class="form-control" placeholder="身份证号码">
                 </div>
                 <div class="col-xs-2">
                    <input type="text" class="form-control"  id="datepicker" placeholder="开始时间">
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" id="datepicker1" placeholder="结束时间">
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-default">查找</button>
                </div>
             </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="rew-table">
                  <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>订单号</th>
                            <th>买家姓名</th>
                            <th>身份证号码</th>
                            <th>购买时间</th>
                            <th>付款金额</th>
                            <th>经手人</th>
                            <th>订单详情</th>
                            <th>机器</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">96457559619408890</th>
                            <td>廖强</td>
                            <td>430602********6033</td>
                            <td>2016-09-01 21:21:26</td>
                            <td>19点 (￥9.5元)</td>
                            <td>ceshi1</td>
                            <td>上网服务</td>
                            <td>028</td>
                          </tr>
                          <tr>
                            <th scope="row">96457559619408890</th>
                            <td>廖强</td>
                            <td>430602********6033</td>
                            <td>2016-09-01 21:21:26</td>
                            <td>19点 (￥9.5元)</td>
                            <td>ceshi1</td>
                            <td>上网服务</td>
                            <td>028</td>
                          </tr>
                          <tr>
                            <th scope="row">96457559619408890</th>
                            <td>廖强</td>
                            <td>430602********6033</td>
                            <td>2016-09-01 21:21:26</td>
                            <td>19点 (￥9.5元)</td>
                            <td>ceshi1</td>
                            <td>上网服务</td>
                            <td>028</td>
                          </tr>
                          <tr>
                            <th scope="row">96457559619408890</th>
                            <td>廖强</td>
                            <td>430602********6033</td>
                            <td>2016-09-01 21:21:26</td>
                            <td>19点 (￥9.5元)</td>
                            <td>ceshi1</td>
                            <td>上网服务</td>
                            <td>028</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
      </div>
    </div>
    <include file="Public/footer.html" />
