    <include file="Public/header.html" />
    <include file="Public/left.html" />
    <div class="content">
      <div class="breadcrumb-holder">
         <ul class="breadcrumb">
           <li class="active">热卖商品</li>
           <li><a href="javascript:;">我的商品列表</a></li>
         </ul>
         <div class="navbar-right">
           <button type="button" class="btn btn-info">添加新商品</button>
         </div>
      </div>
      <div class="main-content">
          <div class="row">
             <div class="col-md-12" style="height:60px;border-bottom:1px solid #dddddd;">
               <div class="col-xs-3">
                  <input type="text" class="form-control" placeholder="商品名称">
                </div>
                <div class="col-xs-3">
                   <input type="text" class="form-control" placeholder="条形码">
               </div>
                <div class="col-xs-3">
                  <select class="form-control">
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>4</option>
                     <option>5</option>
                 </select>
                </div>
                <div class="col-xs-3">
                  <button type="button" class="btn btn-default">查找</button>
                </div>
             </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="rew-table">
                  <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>编号</th>
                            <th>条形码</th>
                            <th>图片</th>
                            <th>商品名称</th>
                            <th>销售价格</th>
                            <th>本店库存</th>
                            <th>操作</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">94</th>
                            <td>6921311196494</td>
                            <td>Otto</td>
                            <td>康师傅绿茶调味茶饮品（蜂蜜茉莉味）</td>
                            <td>8.00点 (￥4元)</td>
                            <td>0</td>
                            <td><button type="button" class="btn btn-info btn-sm">编辑商品</button><button type="button" class="btn btn-danger btn-sm">商品下架</button></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>6921311196494</td>
                            <td>Otto</td>
                            <td>康师傅绿茶调味茶饮品（蜂蜜茉莉味）</td>
                            <td>8.00点 (￥4元)</td>
                            <td>0</td>
                            <td> <button type="button" class="btn btn-info btn-sm">编辑商品</button><button type="button" class="btn btn-danger btn-sm">商品下架</button></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>6921311196494</td>
                            <td>Otto</td>
                            <td>康师傅绿茶调味茶饮品（蜂蜜茉莉味）</td>
                            <td>8.00点 (￥4元)</td>
                            <td>0</td>
                            <td>商品价格审核未通过 请重新修改价格。 <button type="button" class="btn btn-info btn-sm">修改价格</button></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>6921311196494</td>
                            <td>Otto</td>
                            <td>康师傅绿茶调味茶饮品（蜂蜜茉莉味）</td>
                            <td>8.00点 (￥4元)</td>
                            <td>0</td>
                            <td>商品价格审核未通过 请重新修改价格。 <button type="button" class="btn btn-info btn-sm">修改价格</button></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>6921311196494</td>
                            <td>Otto</td>
                            <td>康师傅绿茶调味茶饮品（蜂蜜茉莉味）</td>
                            <td>8.00点 (￥4元)</td>
                            <td>0</td>
                            <td>商品价格审核未通过 请重新修改价格。 <button type="button" class="btn btn-info btn-sm">修改价格</button></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>6921311196494</td>
                            <td>Otto</td>
                            <td>康师傅绿茶调味茶饮品（蜂蜜茉莉味）</td>
                            <td>8.00点 (￥4元)</td>
                            <td>0</td>
                            <td>商品价格审核未通过 请重新修改价格。 <button type="button" class="btn btn-info btn-sm">修改价格</button></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
      </div>
    </div>
<include file="Public/footer.html" />
