    <include file="Public/header.html" />
    <include file="Public/left.html" />

    <div class="content">
      <div class="breadcrumb-holder">
         <ul class="breadcrumb">
           <li class="active">热卖商品</li>
           <li><a href="javascript:;">提现</a></li>
         </ul>
         <div class="navbar-right">
           <button type="button" class="btn btn-info">提现</button>
         </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="point">
             <i class="icon-comment"></i>为了保障您的资金安全，本系统仅能绑定一张银行卡，如需要修改银行卡号请联系：0730-8678718
          </p>
        </div>
      </div>
      <div class="main-content">
          <div class="row">
             <div class="col-md-12" style="height:60px;border-bottom:1px solid #dddddd;">
                 <div class="col-xs-2">
                    <input type="text" class="form-control"  id="datepicker"  placeholder="开始时间">
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" id="datepicker1" placeholder="结束时间">
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-default">查找</button>
                </div>
             </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="rew-table">
                  <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>流水号</th>
                            <th>提现时间</th>
                            <th>提现金额</th>
                            <th>手续费</th>
                            <th>银行卡</th>
                            <th>状态</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">96457559619408890</th>
                            <td>廖强</td>
                            <td>430602********6033</td>
                            <td>2016-09-01 21:21:26</td>
                            <td>19点 (￥9.5元)</td>
                            <td>ceshi1</td>
                          </tr>

                        </tbody>
                    </table>
                </div>
            </div>
          </div>
      </div>
    </div>
    <include file="Public/footer.html" />
